:root {
    --blue: #274c77;
    --military-green: #757761;
    --kelly-green: #3EC300;
    --light-coral: #EF767a;
    --platinum: #dce1de;
}

* {
    box-sizing: border-box;
}

body {
background-color: var(--platinum);
font-size: 16px;
color: var(--military-green);
font-family: Arial, Helvetica, sans-serif;
}

header {
    padding: 10px;
    background-color: var(--blue);
    color: var(--kelly-green);
}

h2,
h3,
h4,
h5 {
    font-weight: 500;
    margin: 0;
    color: var(--kelly-green);
}

main {
    margin: 20px auto;
    width: 90%;
}

p {
    font-size: large;
    margin: 10px 10px;
}

.btn {
    font-size: medium;
    padding: 5px 5px;
    width: 90%;
    display: block;
    margin: 5px 0;
    border-radius: 40px;
    color: var(--light-coral);
    background-color: var(--blue);
    border: none;
    outline: none;
    box-shadow: 2px black;
}

.btn:hover {
    color: var(--blue);
    background-color: var(--light-coral);
    box-shadow: 2px black;
}

.day p {
    font-size: large;
}

.list-group {
    padding: 0px;
    list-style: none;
}