:root {
    --blue: #274c77;
    --military-green: #757761;
    --kelly-green: #3EC300;
    --light-coral: #EF767a;
    --platinum: #dce1de;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--platinum);
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    padding: 10px;
    background-color: var(--blue);
    color: var(--kelly-green);
}

.container {
    margin: auto;
    width: 100%;
}

.row {
    margin: auto;
}

p {
    font-size: medium;
    margin: 5px 5px;
}

/* Button Formatting */
.btn {
    font-size: medium;
    padding: 5px 5px;
    width: 50%;
    display: block;
    margin: 5px 0;
    border-radius: 40px;
    color: var(--light-coral);
    background-color: var(--blue);
    border: none;
    outline: none;
    box-shadow: 2px black;
}

.btn:hover {
    color: var(--blue);
    background-color: var(--light-coral);
    box-shadow: 2px black;
}

.day p {
    font-size: small;
}

.status-icon {
    background-color: var(--military-green);
    padding: 5px 5px;
    border-radius: 15px;
}

.icon-danger {
    color: red
}

.icon-success {
    color: green;
}

/* Card Start */
.card {
    margin: 10px;
    border: 3px solid var(--military-green);
    border-radius: var(--blue);
  }
  
.card-header {
    color: var(--kelly-green);
    background-color: var(--platinum);
    padding: 2.5%;
    font-size: 200%;
  }
  
.card-header i {
    float: right;
  }
  
.card-body {
    padding: 20px;
  }
  
.hidden-card {
    visibility: hidden;
  }

.day {
    background-color: var(--light-coral);
    border-radius: 5px;
    font-size: 12px;
    text-align: center;
    margin: 5px 5px;
  }
/* Card End */

/* Form Start */
.form-label,
.form-input,
.form-textarea {
    display: block;
}

.form-label {
    font-size: medium;
    margin: 5px;
  }
  
  .form-input {
    width: 100%;
    padding: 2%;
    margin: 5px 5px;
    font-size: large;
    border: 3px solid var(--military-green);
    border-radius: 10px;
  }
/* Form End */

/* Start UV-Index */
.uv-index-green {
    padding: 5px 5px;
    background-color: lightgreen;
    border-radius: 5px;
    display: inline;
}

.uv-index-yellow {
    padding: 5px 5px;
    background-color: lightyellow;
    border-radius: 5px;
    display: inline;
}

.uv-index-red {
    padding: 5px 5px;
    background-color: lightpink;
    border-radius: 5px;
    display: inline ;
}
/* End UV-Index*/

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

